body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.bluetop, footer {
    background-color: #1f2937;
}

.quotebox {
    background-color: #e5e7eb;
    padding: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: space-between;
    padding: 15px;
   
}

.headerlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.left {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.heromain {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}

.herosecondary {
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 15px;
}

button {
    background-color: #3882f6;
    color:#e5e7eb;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    border: 0px;
    font-size: 24px;
    height: 50px;
    width: 180px;
    font-weight: bold;
    
}

.right {
    height: 300px;
    width:900px;
}

.random {
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 70px;
}

.randomtext {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #1f2937;
    font-weight: 800;
    font-size: 36px;
}

.fourpics {
    display: flex;
    justify-content: space-around;
}
.imgtext {
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 150px;
text-align: center;
padding: 10px;


}

.randomimg {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 25px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding-left: 350px;
    padding-right: 350px;
}

.author {
    text-align: end;
    font-weight: bolder;
    font-size: 24px;
    padding-left: 350px;
    padding-right: 350px;
}

.action {
    background-color:#3882f6;
    color:#f9faf8;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 150px;
}

.leftaction {
    display: flex;
    flex-direction: column;
}

.call {
    font-size: 28px;
    font-weight: bold;    
}

.signup {
    font-size: 20px;
}

.actionbutton {
    color:#f9faf8;
    font-size: 24px;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: 2px solid #f9faf8;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding:10px
}

footer {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 24px;

}